name: build
on: [push]

jobs:
  build-on-linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install packages
        uses: amitie10g/install-package@v1.2.3
        with:
          apt: build-essential nasm dosfstools

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: "rust-src"

      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: cargo-${{ hashFiles('**/Cargo.lock') }}
          cache-all-crates: true
          cache-on-failure: true

      - name: Install cargo-make
        run: cargo install --no-default-features cargo-make cargo-license

      - name: Cleanup towbootctl
        run: rm -f towbootctl

      - name: Build
        uses: clechasseur/rs-cargo@v2
        with:
          command: make
          args: --no-workspace image

      - name: Test
        uses: clechasseur/rs-cargo@v2
        with:
          command: make
          args: --no-workspace test

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: D3OS
          path: d3os.img

  build-on-macos:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - name: Install packages
        uses: amitie10g/install-package@v1.2.3
        with:
          brew: x86_64-elf-binutils x86_64-elf-gcc nasm dosfstools

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: "rust-src"

      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: cargo-${{ hashFiles('**/Cargo.lock') }}
          cache-all-crates: true
          cache-on-failure: true

      - name: Install cargo-make
        run: cargo install --no-default-features cargo-make cargo-license

      - name: Cleanup towbootctl
        run: rm -f towbootctl

      - name: Build
        uses: clechasseur/rs-cargo@v2
        with:
          command: make
          args: --no-workspace image

      - name: Test
        uses: clechasseur/rs-cargo@v2
        with:
          command: make
          args: --no-workspace test